# Имя базы данных
POSTGRES_DB= example cars

# Имя Пользователя Базы
POSTGRES_USER= example car_user

# Пароль к базе
POSTGRES_PASSWORD= example car_userpassword


# Адрес, по которому Django будет соединяться с БД (имя контейнера внутри сети compose, где хранится БД).
DB_HOST= example db

# Порт соединения к БД
DB_PORT= example 5432

# Секретный ключ Django (без кавычек).
SECRET_KEY= example gvdgwaease123412480sadf

DEBUG=False

# Список разрешённых хостов, чтобы проект запустился через внешний интерфейс
ALLOWED_HOSTS=21.23.26.141, 127.0.0.1, localhost, bute-kittygram.ddns.net


DB_NAME= example car